.episode__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode__cut {
  max-width: 180px;
  white-space: nowrap;
  overflow: hidden;

  text-overflow: ellipsis;
}

.episode__line {
  display: flex;
  flex-direction: column;
}

.episode__line {
  padding: 10px 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.line__head {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.line__name {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #6e798c;
}

.line__date {
  font-weight: 500;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media (max-width: 450px) {
  .episodes {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }
  .episode {
    width: 312px;
    height: 128px;
  }
}
